body{
  margin: 0;
  font-family: Inter, sans-serif;
}

nav{
  margin-top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

nav > img{
  width: 50px;
  height: 60px;
  margin-right: 10px;
}

nav > h1 {
  font-weight: 400;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-recipe{
  margin-right: 0;
  

}